@charset "utf-8";
/* CSS Document */

body {
	background-color:#EEEEEC;
margin:0px 0px 0px 0px;
padding:0px;
color:#333;
font-size:15px;
line-height:24px;
font:"sө", Arial, Helvetica, sans-serif;
}

#wrapper {
	height: 100%;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

	
	p {
padding:0px;
margin:0px;
}

.footer{
	background-color:#000;
	color:#FFF;
	height:38px;
	width:1000px;
	text-align:center;
	}
	
.footer a {
	color:#1271C3;
	text-decoration:none;
	}
.footer a:hover {
	color:#1271C3;
	text-decoration: underline;
	}